# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (SENSITIVE)
.env

# Streamlit logs/cache
.streamlit/

# OS specific files
.DS_Store
Thumbs.db

# PDF Uploads (if stored locally)
*.pdf
